
[core]
	editor = vim
	excludesfile = ~/.gitignore_global

[color]
	ui = true

[push]
	default = tracking

[alias]
	fe = fetch
	pl = pull
	ps = push
	me = merge
	st = status
	s = status
	br = branch
	b = branch
	co = checkout
	ci = commit
	sh = stash
	lg = log
	di = diff
	dica = diff --cached
	new = log --branches --not --remotes

[mergetool]
	cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	prompt = false
	trustExitCode = false

[merge]
	tool = p4merge
	prompt = false

[user]
	email = (none)

