[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	pager = less -F -X

[push]
	default = tracking

[user]
	useConfigOnly = true
	signingkey = null

[commit]
	gpgsign = true

[alias]
	log = log --stat
	cl = clone
	sm = submodule
	fe = fetch
	f = fetch
	fu = fetch upstream
	pl = pull
	ps = push
	me = merge
	m = merge
	mu = merge upstream/master
	a = add
	st = status
	s = status
	br = branch
	b = branch
	rs = reset
	r = reset
	rt = remote
	rb = rebase
	co = checkout
	ci = commit
	sh = stash
	cp = cherry-pick
	lg = log
	l = log
	di = diff
	dica = diff --cached
	new = log --branches --not --remotes

[color]
	ui = true

[mergetool]
	cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	prompt = false
	trustExitCode = false

[merge]
	tool = p4merge
	prompt = false

[diff]
	tool = xxdiff

[cola]
	spellcheck = false
	theme = flat-dark-grey
	icontheme = dark
	boldheaders = false
	textwidth = 88
	autoloadcommittemplate = false
	showpath = true
	fontdiff = Monospace,10,-1,5,50,0,0,0,0,0
	blameviewer = git gui blame
	hidpi = disable

[gui]
	editor = gvim
	historybrowser = gitk
